{% extends 'base.html' %}

{% block content %}

<h1>Record Details</h1>

<div class="row">
    <div class="col s6">
<div class="card">
    <div class="card-content">
        <span class="card-title">{{ record.title }}</span>
        <p>Artist: {{ record.artist }}</p>
        <p>Released On: {{ record.release_date }}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'records_update' record.id %}">Edit</a>
        <a href="{% url 'records_delete' record.id %}">Delete</a>
      </div>
</div>
</div>
<div class="col s6">
    <table class="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Transaction</th>
        </tr>
      </thead>
      <tbody>
        {% for market in record.market_set.all %}
        <tr>
          <td>{{market.date}}</td>
          <td>{{market.get_transaction_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}